@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 min-height: 100vh;
}




@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
::-webkit-scrollbar {
  display: none;
}

.image-grid:hover > .grid_column > .img {
  opacity: 0.6;

}

.image-grid > .grid_column > .img:hover{
  opacity: 1;
  transform:  scale(1.1);
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.2);
}

/* .image-grid:hover  * > img:hover {
  opacity: 1;
} */